/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.2;

    font-family: 'Roboto Slab', serif;
    font-weight: 100;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    height: 100%;
}

.container {
    width: 100%;
    overflow: hidden;
}

.section {
    position: relative;
}

.row {
    position: relative;
}

.column {
    float: left;
    min-height: 2px;
    margin: 0;
    padding: 0;
}

section.info {
    background: #fff;
}

section.info div.wrapper {
    padding: 10px;
    margin: auto 0;
}

section.info div.header {
    width: 100%;
    height: 200px;
}

section.info div.header div.logo {
    width: 100%;
    height: 100%;
    background: url("../img/header-logo-medium.png") no-repeat center;
    background-size: contain;
    margin: 0 auto;
    display: block;
}

section.info div.header div.right {
    width: 100%;
    height: 100%;
}

section.info h1 {
    text-align: center;
    font-size: 1.6em;
    font-weight: 100;
    margin: 5px 0 0 0;
    line-height: 1.4em;
    text-indent: 0;
}

section.info h2 {
    text-align: center;
    font-size: 1.2em;
    text-indent: 0;
}

section.info div.text {
    text-indent: 2em;
    line-height: 1.5em;
}

section.info div.route {
    background: url("../img/route.png") no-repeat center;
    background-size: 160px 200px;
    width: 160px;
    height: 200px;
    float: left;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    section.info div.route {
        background: url("../img/route@2x.png") no-repeat center;
        background-size: 160px 200px;
    }
}

div.sponsors {
    margin: 0 auto;
    background: #eee;
    padding-bottom: 20px;
}

div.sponsors h1 {
    text-align: center;
    font-size: 1.6em;
    font-weight: 100;
    margin: 5px 0 0 0;
    line-height: 1.4em;
    text-indent: 0;
}

div.sponsors div.sponsor {
    float: left;
    text-align: center;
}

div.sponsors div.sponsor a {
    display: block;
    width: 100%;
    height: 200px;
}

div.sponsors a.sponsor-1 {
    background: url("../img/sponsors/ehali.png") no-repeat center;
    background-size: contain;
}

div.sponsors a.sponsor-2 {
    background: url("../img/sponsors/veloplaneta.png") no-repeat center;
    background-size: contain;
}

div.sponsors a.sponsor-3 {
    background: url("../img/sponsors/boogie.png") no-repeat center;
    background-size: contain;
}

div.sponsors a.sponsor-4 {
    background: url("../img/sponsors/ekosnack.png") no-repeat center;
    background-size: contain;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    div.sponsors a.sponsor-1 {
        background: url("../img/sponsors/ehali@2x.png") no-repeat center;
        background-size: contain;
    }

    div.sponsors a.sponsor-2 {
        background: url("../img/sponsors/veloplaneta@2x.png") no-repeat center;
        background-size: contain;
    }

    div.sponsors a.sponsor-3 {
        background: url("../img/sponsors/boogie@2x.png") no-repeat center;
        background-size: contain;
    }

    div.sponsors a.sponsor-4 {
        background: url("../img/sponsors/ekosnack@2x.png") no-repeat center;
        background-size: contain;
    }
}

div.sponsors div.sponsor span {
    padding: 20px 10px;
    font-style: italic;
    font-size: 0.8em;
    line-height: 0.8em;
}

section.form {
    background: #ffbb00 url("../img/bg-pattern.png") repeat;
}

section.form h1 {
    text-align: right;
    font-size: 1.6em;
    font-weight: 100;
    margin: 5px 0 0 0;
}

section.form div.wrapper {
    padding: 10px;
    margin: auto 0;
}

section.form .form-row {
    margin: 10px 0;
}

section.form input[type=text],  section.form input[type=tel], section.form input[type=email]{
    width: 100%;
    outline: none;
    border: none;
    border-radius: 4px;
    background: linear-gradient(#eee, #fff);
    padding: 5px 0;
    font-style: italic;
    font-weight: 400;
    text-align: center;

    display: block;
    float: left;
}

section.form input[type=submit] {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 4px;
    background: linear-gradient(#eee, #fff);
    margin-top: 20px;
    padding: 10px 0;
    font-weight: 400;

    display: block;
    float: left;
}

section.form span {
    display: block;
    width: 100%;
    float: left;
    text-align: left;
    padding: 5px 0;
    font-weight: 400;
}

section.form span.red {
    color: #e00;
}

section.form span.note {
    font-size: 0.75em;
    font-weight: 100;
    font-style: italic;
}

section.form p {
    text-indent: 2em;
    line-height: 1.5em;
}

section.form #reg-id {
    display: block;
    margin: 0 auto;
    font-size: 5em;
    font-weight: 400;
    text-align: center;
    border: #000000 solid 1px;
    border-radius: 5px;
}

section.form div.error {
    display: block;
    padding: 10px;
    border: #ee0000 solid 1px;
    border-radius: 5px;
    color: #e00;
}

.small-12 {
    width: 100%;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*Responsive*/

@media only screen and (min-width: 640px) {
    /* Style adjustments for viewports that meet the condition */
    .medium-3 {
        width: 25%;
    }

    .medium-9 {
        width: 75%;
    }

    .medium-6 {
        width: 50%;
    }

    section.info {
        float: left;
    }

    section.form {
        float: right;
        height: 100%;
        padding: 0;
        position: absolute;
        bottom: 0px;
        right: 0px;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

@media only screen and (min-width: 960px) {
    /* Style adjustments for viewports that meet the condition */
    .large-3 {
        width: 25%;
    }

    .large-9 {
        width: 75%;
    }

    .large-6 {
        width: 50%;
    }

    section.info {
        float: left;
    }

    section.info div.header {
        background: url("../img/header-left-large.png") no-repeat left;
        background-size: contain;
        width: 100%;
        height: 300px;
    }

    section.info div.header div.logo {
        width: 35%;
        height: 100%;
        background: url("../img/header-logo-medium.png") no-repeat center;
        background-size: contain;
        margin: 0 auto;
        display: block;
    }

    section.info div.header div.right {
        background: url("../img/header-right-large.png") no-repeat right;
        background-size: contain;
        width: 100%;
        height: 300px;
        float: right;
    }

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        section.info div.header {
            background: url("../img/header-left-large@2x.png") no-repeat left;
            background-size: contain;
        }

        section.info div.header div.right {
            background: url("../img/header-right-large@2x.png") no-repeat right;
            background-size: contain;
        }
    }

}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
